$blue-charcoal: #000207;
$vulcan: #0F1221;
$mirage: #1D2438;
$mirage2: #171C2D;
$pickled-bluewood: #27304A;

$link-water: #DCE4F7;
$cornflower: #91AEE6;

$win: #9CEB6E;
$loss: #FA5741;

$level100: #FF7048;

/**/

$shadow: $blue-charcoal;

/**/

$body__background: $blue-charcoal;

$app__base: $mirage;
$app__inset: $vulcan; // behind navigation + view tabs

$block__base: $pickled-bluewood;

$text: $link-water;
$text--link: $cornflower;

$selected: $level100;

$header__base: $mirage2;

$button__base: $mirage;


/**/

$black: #000;

$white: #fff;