$font-stack: 'Europa';

body {
	font: 16px/1 $font-stack; color: $text;
}

a {
	color: $text--link;
	
	&:hover, &:focus {

	}
	
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	color: $link-water;
}

h1, .h1 {
	font-size: 31px; font-weight: 300;

	&__small {
		font-size: 21px;
	}
}

h2, .h2 {
	font-size: 28px; font-weight: 300;

	&__small {
		font-size: 20px;
	}
}

h3, .h3 {
	font-size: 24px; font-weight: 300;

	&__small {
		font-size: 17px;
	}
}

li {
	list-style: none;
}

.content {
	
}