.header {
  padding: 1.5rem 1rem;
  // background: $header__base;
  // box-shadow: inset 0 -2px 4px -2px rgba($blue-charcoal, .4), inset -1px 1px 0 rgba($shadow, .3);
  // border-radius: 4px;

  &__title {

  }

  &__select {
    @media (break('>=', map-get($breakpoints, xxmedium))) {
      display: none;
    }

    label {
      position: relative;
      display: block;
    }
  }
}
