@mixin clearfix {
  &:before, &:after { content: ""; display: table; } &:after { clear: both; }
}

@mixin clearfix-after {
  &:after { content: ""; display: table; clear: both; }
}

@mixin container {
	max-width: 1500px; margin: 0 auto;
}

@mixin inline-middle($up: false) {
	display: inline-block; vertical-align: middle;

	@if $up {
		position: relative; top: -2px;
	}
}

@mixin inline-children($up: false) {

	> * {
		display: inline-block; vertical-align: middle;

		@if $up {
			position: relative; top: -2px;
		}
	}
}

@mixin align-items-centre {
	display: flex; align-items: center;
}

@mixin justify-space-between {
	display: flex; justify-content: space-between; align-items: center;
}

@mixin justify-space-between-baseline {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.justify-space-between-baseline {
	@include justify-space-between-baseline;
}

/**
 * Sizing Mixins
 */
@mixin aspect-ratio($paddingValue) {
  position: relative;

  &:before {
    display: block;
    width: 100%;
    padding-top: $paddingValue;
    content: '';
  }

  > * {
    position: absolute;
  }
}

@mixin size($size) {
	width: $size; height: $size;
}








$unit: 12px;
$unit--small: 10px;

@mixin unit($property, $multiplier) {

	#{$property}: #{($multiplier * $unit)};

	@media (max-width: 600px) {
		#{$property}: #{($multiplier * $unit--small)};
	}

}

$gutter: 10px;

@mixin gutter($property, $multiplier) {

	#{$property}: #{($multiplier * $gutter)};

}

@mixin clip-hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
