@mixin font-size($size) {

	@if $size == small { font-size: 14px; }

	@else if $size == xsmall { font-size: 14px; font-weight: bold; }

	@else if $size == xxsmall { font-size: 16px; }

	@else if $size == xxlarge { font-size: 24px; font-weight: bold; }

}

@mixin font-scale($smallest, $largest) {

  @media (max-width: #{map-get($context, largest)}px){
    font-size: calc( #{$smallest}px + (#{$largest} - #{$smallest}) * ( (100vw - #{map-get($context, smallest)}px) / ( #{map-get($context, largest)} - #{map-get($context, smallest)}) ));
  }

  @media (min-width: #{map-get($context, largest)}px){
    font-size: #{$largest}px;
  }

}

@mixin no-text {
	text-indent: 100%; white-space: nowrap; overflow: hidden;
}

@mixin no-content {
	content: "";
}

@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis; white-space: nowrap;
}