.finder {
	$block: #{&};
	position: relative; z-index: 30;

	&__display {
		position: relative;
		@include unit(height, 5); display: flex; align-items: center; padding: 0 $unit*2;
		background: $mirage3;

		&__input {
			overflow: hidden; width: 100%;
			flex: 1; padding: 0 $unit;
			background: none; border: none;
			white-space: nowrap; color: $text;

			&:not(:valid) {
				font-size: .9em; color: rgba($text, .6); font-weight: 200;

				&:focus {

				}
			}

			&:valid {
				font-style: normal;
			}
		}

		&__rarr {
			position: absolute; top: 50%; right: $unit*2;
			width: 8px;
			fill: $text;
			transform: translateY(-50%) rotate(90deg);
		}

	}

	

	&__player-photo {
		position: relative;
		width: 32px;

		&__icon {
			@include absolute-centre; z-index: 1;
			width: 12px; fill: $light;
		}
	}

	&__results {
		position: absolute; top: 100%; z-index: 1000; -webkit-transform: translate3d(0,0,0);
		display: none; width: 100%; max-height: 40vh; overflow-x: hidden; overflow-y: auto;

		&__result {
			cursor: pointer;
			@include unit(height, 5); display: flex; align-items: center; padding: 0 $unit*2;
			background: $mirage3;

			&:hover {
				background: adjust_hue(lighten(saturate($mirage, 17), 3), 14);
				transition: background .1s ease;
			}
		}

		&__player-photo {
			margin-right: $unit;
		}

	}

	&:hover {

		#{$block}__results {
			display: block;
			animation: translateDownFadeIn .2s ease-out forwards;
		}
	}

}