.mask {
	&.is--level {
		&47 {
			fill: $level47;
		}

		&48 {
			fill: $level48;
		}

		&49 {
			fill: $level49;
		}

		&50 {
			fill: $level50;
		}

		&51 {
			fill: $level51;
		}

		&52 {
			fill: $level52;
		}

		&53 {
			fill: $level53;
		}

		&54 {
			fill: $level54;
		}

		&55 {
			fill: $level55;
		}
	}
}