.pending {
	text-align: center;

	&__light {
		display: inline-block; @include size(6px);
		background: $link-water;
		border-radius: 2px;
		animation: 1s pendingGlow infinite;

		&:nth-child(2) {
			animation-delay: .33s;
		}

		&:nth-child(3) {
			animation-delay: .66s;
		}
	}
}