.pick {
	position: relative;
	@include size(20px);
	display: inline-flex; align-items: center; justify-content: center;
	background: $mirage;
	box-shadow: inset 0 1px 0 rgba($fiord, .6); border-radius: 4px;

	&__icon {
		height: 8px;
		fill: $text--link;
	}
}