.player-photo {
	position: relative;
	width: 36px;

	@media (min-width: 600px) {
		width: 48px;
	}

	&__proportion {
		position: relative; overflow: hidden;
		width: 100%; height: 0; padding-bottom: percentage(55.43/48);
		background: $pickled-bluewood;
	}

	&__image {
		@include absolute-fill;
	}

	&__level {
		@include absolute-fill; overflow: hidden; z-index: 1;

		&:after,
		&:before {
			position: absolute; bottom: 9px; /* thickness of level */ 
		    width: 100%; height: 100%;
		    box-shadow: -4px -4px 5px rgba($shadow, .7), -1px -1px 2px rgba($shadow, .4), ;
			@include no-content;
		}

		&:after {
			right: 0;
			transform: translate(50%, 50%) skew(-60deg);
		}

		&:before {
			left: 0; z-index: 2;
			display: none;
			transform: translate(-50%, 50%) skew(60deg);
		}

		&.is--level {
			&47 {
				&:after { background: $level47; }
			}

			&48 {
				&:after { background: $level48; }
			}

			&49 {
				&:after { background: $level49; }
			}

			&50 {
				&:after { background: $level50; }
			}

			&51 {
				&:after { background: $level51; }
			}

			&52 {
				&:after { background: $level52; }
			}

			&53 {
				&:after { background: $level53; }
			}

			&54 {
				&:after { background: $level54; }
			}

			&55 {
				&:after { background: $level55; }
			}

			&100 {
				&:before { display: block; background: $level100; }
			}
		}
	}

	&__knot__svg {
		position: absolute; right: 100%; top: 6px;
		width: 14px;
	}
	
}