.player-photo {
	position: relative;

	&__proportion {
		position: relative; overflow: hidden;
		width: 100%; height: 0; padding-bottom: percentage(55.43/48) /* 113% */ /* percentage(170/150) want a whole number */;
		background: $pickled-bluewood;
	}

	&__image {
		@include absolute-fill;
	}

	&__level {
		@include absolute-fill; overflow: hidden; z-index: 1;

		&:after,
		&:before {
			position: absolute; bottom: 9px; /* thickness of level */ 
		    width: 100%; height: 100%;
		    box-shadow: -4px -4px 5px rgba($shadow, .7), -1px -1px 2px rgba($shadow, .4), ;
			@include no-content;
		}

		&:after {
			right: 0;
			transform: translate(50%, 50%) skew(-60deg);
		}

		&:before {
			left: 0;
			display: none;
			transform: translate(-50%, 50%) skew(60deg);
		}

		&.is--level47  {
			&:after { background: $level47; }
		}

		&.is--level48 {
			&:after { background: $level48; }
		}

		&.is--level49 {
			&:after { background: $level49; }
		}

		&.is--level50 {
			&:after { background: $level50; }
		}

		&.is--level51 {
			&:after { background: $level51; }
		}

		&.is--level52 {
			&:after { background: $level52; }
		}

		&.is--level53 {
			&:after { background: $level53; }
		}

		&.is--level54 {
			&:after { background: $level54; }
		}

		&.is--level55 {
			&:after { background: $level55; }
		}

		&.is--level100 {
			&:before { display: block; background: $level100; }
		}
	}

	&__level__svg {
		@include absolute-fill; z-index: 1;

		&.is--level100 {
			transform: scaleX(-1);
		}
	}

	&__level__use {

		

	}

	&__knot__svg {
		position: absolute; right: 100%; top: 5px;
		width: 18px; height: 17px;
	}

	&__knot__use {
		@include absolute-fill;
	}
	
}