.login {
    @include container; max-width: 510px; max-width: 440px; margin-bottom: $unit*3; padding: $unit*2;
    background-color: $app__base;
    border-radius: 6px;

    > * + * {
        @include unit(margin-top, 3); 
    }

    &__brand {
        text-align: center; line-height: 1.2;

        &__logo {
            display: inline-block; margin-bottom: 6px;
            transform: translateX(-12%);

            &__svg {
                display: block; width: 108px; height: auto;
            }
        }

        &__name {
            font-weight: bold; font-size: 21px; text-transform: uppercase;

            a {
                color: $level100;
            }
        }

        &__descriptor {
            position: relative;
            font-size: 1em;

            &:after {
                top: 100%; @include absolute-centre-x;
                width: 30px; height: 7px; background: rgba($shadow, .25);
                border-radius: 100%; transform: translate(-50%, 18px);
                @include no-content;
            }
        }
    }

    

    &__fieldset {
        position: relative;
        display: block;
    }

    &__label,
    &__input {
        display: block; width: 100%;
        transition: all .2s ease-in;
    }

    &__input {
        position: relative; z-index: 1;
        padding-top: $unit*1.5; padding-bottom: $unit*1.5;
        background: none; border: none; border-bottom: 2px solid rgba($light, .2);
        color: inherit; line-height: 1;

        &:focus {
            border-bottom: 2px solid rgba($light, .5);

            ~ label {
                color: $white;
                transform: translateY(-14px);
            }
        }

        &:not(:placeholder-shown) {
            border-bottom-color: $light;

            ~ label {
                opacity: 0;
            }
        }
    }

    &__label {
        position: absolute; top: 0; z-index: 0;
    }

    &__links {
        font-size: .8em;
    }    

}