.prompt {
	@include absolute-fill; z-index: 500;
	display: none;
	background: rgba($body__background, .85);

	&__close {
		$block: #{&}; z-index: 1;
		position: absolute; top: 0; right: 0;
		padding: 10px;

		&__svg {
			width: 12px;
			fill: $loss;		
		}

		&:hover {
			#{$block}__svg {
				fill: $loss--glow;
			}
		}
	}

	&__message {
		position: absolute; 
		width: 100%; max-width: 526px; margin-top: 0;
		box-shadow:  $block--shadow, 0 2px 9px 10px $shadow;
	}

	&.is--open {
		display: block;
		animation: fadeIn .5s ease-out forwards; 
	}

	@media (min-width: 480px) {

		&__close {
			padding: 30px;

			&__svg {
				width: 15px;
				filter: drop-shadow(0 1px 1px rgba($shadow, .4));
			}
		}

		&__message {
			@include unit(top, 6); left: 50%;
			min-width: 400px;
			transform: translateX(-50%);
		}

	}
}