html, body {
  min-height: 100%;

  &.is--unscrollable {
        overflow: hidden;
        height: 100%;
    }
}

html {
  overflow-x: hidden; overflow-y: scroll;
  height: 100%;
}

body {
  height: 100%;
  background: $body__background;
}

.app {
  @include container;
  padding: .3rem; //tiny
  background-color: $app__base;
  border-radius: 6px;

  @media (break('<', map-get($breakpoints, xxxlarge))) {
    @include unit(margin-top, 7);
  }
}

  .view {
    position: relative; /* for .prompt's */
  }

    .display {
      padding-top: .3rem;
    }
