.finder {
	$block: #{&};
	position: relative; z-index: 30;

	&__display {
		position: relative;
		@include unit(height, 5); display: flex; align-items: center; padding: 0 $unit;
		background: $mirage3;

		&__input {
			overflow: hidden; width: 100%;
			flex: 1; padding: 0 $unit;
			background: none; border: none;
			white-space: nowrap; color: $text; font-size: .9em; font-weight: 200;

			&:placeholder-shown {
				color: rgba($text, .6);
			}

			&:not(:placeholder-shown) {
				// font-style: normal;
			}
		}

		&__rarr, &__close {
			position: absolute; top: 50%;
			transition: .2s ease-out;
		}

		&__rarr {
			right: $unit*2;
			width: 8px;
			fill: $text;
			transform: translateY(-50%) rotate(90deg);
		}

		&__close {
			right: 0; opacity: 0; cursor: pointer;
			@include size(60px); padding: 22px;
			transform: translateY(-50%);
		}
	}

	
	&__player-photo {
		position: relative;
		width: 32px;

		&__icon {
			@include absolute-centre; z-index: 1;
			width: 12px; fill: $light;
		}
	}

	&__results {
		position: absolute; top: 100%; z-index: 1000; -webkit-transform: translate3d(0,0,0);
		display: none; width: 100%; max-height: 55vh; overflow-x: hidden; overflow-y: auto;

		&__result {
			position: relative; cursor: pointer;
			@include unit(height, 5); display: flex; align-items: center; padding: 0 $unit;
			background: $mirage3;

			&:hover {
				background: adjust_hue(lighten(saturate($mirage, 17), 3), 14);
				transition: background .1s ease;
			}

			&:before {
				position: absolute; top: 0px; left: 0; z-index: 100;
				width: 100%; height: 1px; background: rgba($light, .04);
				@include no-content;
			}

			&:after {
				position: absolute; bottom: 0px; left: 0; z-index: 200;
				width: 100%; height: 1px; background: rgba($shadow, .5);
				@include no-content;
			}
		}

		&__player-photo {
			margin-right: $unit;
		}

	}

	&.is--focused {

		z-index: 1000;
		
		#{$block}__display {
			background: darken($mirage3, 7%);

			&__rarr {
				opacity: 0;
			}

			&__close {
				opacity: 1;
			}
		}

		#{$block}__results {
			display: block;
			animation: translateDownFadeIn .2s ease-out forwards;
		}
	}

	@media (max-width: 700px) {

		&.is--focused {
			position: fixed; top: 0; left: 0; width: 100%;

			#{$block}__display {
				@include unit(height, 7);
			}

			#{$block}__results {
				height: calc(100vh - #{$unit--small * 7}); max-height: none;
			}
		}

	}

	@media (min-width: 700px) {

		&__display {
			padding: 0 $unit*2;
		}

		&__results {
			max-height: 40vh;

			&__result {
				padding: 0 $unit*2;
			}

		}

	}

}