.block {
	$block: #{&};
	position: relative;
	background: $block__base;
	box-shadow: $block--shadow; border-radius: 4px;

	@media (max-width: 700px) {
		@include unit(margin-top, 2);
	}

	&.is--animating {
		animation: translateUpFadeIn .5s ease-out forwards;
	}

	& + & {
		@include unit(margin-top, 2);
	}
	
	&__header {
		position: relative; z-index: 1;
		@include unit(padding-top, 2); @include unit(padding-bottom, 2); @include gutter(padding-left, 2); @include gutter(padding-right, 2);
		text-shadow: 0 -1px 0 rgba($shadow, .1);
		box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.50);

		&__title {
			@include unit(height, 6); 
			@include unit(line-height, 6); 
		}

		> * {
			vertical-align: baseline;
		}
	}

	&.has--contents {
		#{$block}__header {
			box-shadow: none;
		}
	}

	&__slab {
		position: relative; cursor: pointer;
		background: $mirage3;

		/* can I set this for everything?? */
		display: flex; justify-content: space-between; align-items: center; @include unit(height, 7); padding: 0 22px;

		&:not(:first-child) {

			&:before {
				position: absolute; top: 0px; left: 0; z-index: 100;
				width: 100%; height: 1px; background: rgba($light, .04);
				@include no-content;
			}
		}

		&:not(:last-child) {

			&:after {
				position: absolute; bottom: 0px; left: 0; z-index: 200;
				width: 100%; height: 1px; background: rgba($shadow, .5);
				@include no-content;
			}
		}

		&:hover {
			background: adjust_hue(lighten(saturate($mirage, 17), 3), 14);
			background-color: rgba($mirage, .25);
		}

		&.is--empty {
			cursor: default;
			@include unit(height, 5); /* same height as finder display */
			color: $ghost; font-weight: 300;
			border: 2px dotted rgba($ghost, .5);

			&:hover,
			&:focus {
				background: $mirage3;
			}
		}
	}

	&__contents {
		padding-left: $unit/2; padding-right: $unit/2; padding-bottom: $unit/2;

		> .col:nth-child(2) {
			margin-left: $unit/2;
		}
	}

	&__footer {
		background: $block__footer;
		box-shadow: inset 0px 1px 0px 0px rgba($light, .08), inset 0px -1px 0px 0px rgba($shadow, .42); border-radius: 0 0 4px 4px;

		&__meta {
			@include gutter(padding-left, 2); @include gutter(padding-right, 2);
			@include unit(line-height, 4); font-size: 14px; color: $ghost; font-weight: 300; text-shadow: 0 -1px 0 rgba($shadow, .42);

			@include inline-children($up:true);

			&__item {
				@include gutter(margin-right, 2);
			}
		}

		&__icon {
			@include inline-middle($up:true); height: 17px; margin-right: 2px;
			fill: $ghost;
		}
	}
}