.match {
	$block: #{&};

	&__backgrounds {
		@include absolute-fill; opacity: .07;
		// transition: background-image .2s ease-in;
	}

	&.is--winner-first {

		#{$block}__backgrounds {
			background-image:
				radial-gradient( circle farthest-corner at top left, rgba($win--glow, 1) 0%, rgba($win--glow, 0) 84px),
				radial-gradient( circle farthest-corner at top right,
							rgba($loss--glow, 1) 0%,
							rgba($loss--glow, 0) 84px
							);
		}

	}

	&.is--loser-first {

		#{$block}__backgrounds {
			background-image:
				radial-gradient( circle farthest-corner at top left, rgba($loss--glow, 1) 0%, rgba($loss--glow, 0) 84px),
				radial-gradient( circle farthest-corner at top right,
							rgba($win--glow, 1) 0%,
							rgba($win--glow, 0) 84px
							);
		}

	}

	&.is--draw {

		#{$block}__backgrounds {
			opacity: .11;
			background-image:
				radial-gradient( circle farthest-corner at top left, rgba($draw, 1) 0%, rgba($draw, 0) 84px),
				radial-gradient( circle farthest-corner at top right,
							rgba($draw, 1) 0%,
							rgba($draw, 0) 84px
							);
		}

		#{$block}__player {
			
			&.is--first {
				border-left: 2px solid $draw;
			}

			&.is--second {
				border-right: 2px solid $draw;
			}
		}
		
	}

	$score--width: 80px;

	&__player {
		$block: #{&};
		@include unit(height, 7); display: flex; align-items: center;
		font-size: 14px;

		&__id {
			flex: 1;
			line-height: 20px;
		}

		&__name {
			font-weight: bold; text-transform: uppercase;
		}

		&__rating {
			overflow: hidden; opacity: 0;
			max-height: 0;
			color: $gray-chateau;
			//transition: all .2s ease;
		}

		&.is--first {
			padding: 0 #{$score--width/2} 0 22px;

			&.is--winner {
				border-left: 2px solid $win;
			}

			&.is--loser {
				border-left: 2px solid $loss;
			}

		}

		&.is--second {
			padding: 0 22px 0 #{$score--width/2};

			&.is--winner {
				border-right: 2px solid $win;
			}

			&.is--loser {
				border-right: 2px solid $loss;
			}

			#{$block}__id {
				text-align: right;
			}

		}

		&__player-photo {
			width: 42px;

			@media (min-width: 600px) {
				width: 48px;
			}
		}

	}


	&__score {
		@include absolute-centre;
		@include font-size($size:xxlarge); text-align: center; white-space: nowrap;

		&__hyphen {
			margin: 0 4px 0; display: inline-block;
			font-weight: normal;
		}
	}


	$block: #{&};

	&:hover,
	&:focus {

		#{$block}__backgrounds {
			opacity: .2;
		}

		&.is--draw {
			#{$block}__backgrounds {
				opacity: .24;
			}
		}

		#{$block}__player__rating {
			opacity: 1;
			max-height: 20px;
		}
	}

}