.match {
	$block: #{&};

	&__backgrounds {
		@include absolute-fill; opacity: .07;
		transition: all .1s ease-in background;
	}

	&.is--winner-first {

		#{$block}__backgrounds {
			background-image:
				radial-gradient( circle farthest-corner at top left, rgba($win--glow, 1) 0%, rgba($win--glow, 0) 84px),
				radial-gradient( circle farthest-corner at top right,
							rgba($loss--glow, 1) 0%,
							rgba($loss--glow, 0) 84px
							);
		}

	}

	&.is--loser-first {

		#{$block}__backgrounds {
			background-image:
				radial-gradient( circle farthest-corner at top left, rgba($loss--glow, 1) 0%, rgba($loss--glow, 0) 84px),
				radial-gradient( circle farthest-corner at top right,
							rgba($win--glow, 1) 0%,
							rgba($win--glow, 0) 84px
							);
		}

	}

	&.is--draw {

		#{$block}__backgrounds {
			opacity: .11;
			background-image:
				radial-gradient( circle farthest-corner at top left, rgba($draw, 1) 0%, rgba($draw, 0) 84px),
				radial-gradient( circle farthest-corner at top right,
							rgba($draw, 1) 0%,
							rgba($draw, 0) 84px
							);
		}
		
	}

	&:hover {

		#{$block}__backgrounds {
			opacity: .14;
		}

		&.is--draw {
			#{$block}__backgrounds {
				opacity: .24;
			}
		}

		#{$block}__player {
			&:first-child {
				// padding-right: 35px;
			}
		}
	}

	$score--width: 80px;

	&__player {
		$block: #{&};
		@include unit(height, 7); display: flex; align-items: center;
		font-size: 14px;
		transition: all .5s ease-in;

		&__id {
			flex: 1;
			line-height: 20px;
		}

		&__name {
			font-weight: bold;
		}

		&__rating {
			color: $gray-chateau;
		}

		&:first-child {
			padding: 0 #{$score--width/2} 0 22px;

			&.is--winner {
				border-left: 2px solid $win;
			}

			&.is--loser {
				border-left: 2px solid $loss;
			}

			&.is--draw {
				border-left: 2px solid $draw;
			}

			#{$block}__player-photo {
				//transform: translateX(-10px);
			}
		}

		&:last-child {
			padding: 0 22px 0 #{$score--width/2};

			&.is--winner {
				border-right: 2px solid $win;
			}

			&.is--loser {
				border-right: 2px solid $loss;
			}

			&.is--draw {
				border-right: 2px solid $draw;
			}

			#{$block}__id {
				text-align: right;
			}

			#{$block}__player-photo {
				//transform: translateX(10px);
			}

		}

		&__player-photo {
			width: 49px;

			&__image {
			}

		}

		&.is--animating {

			#{$block}__player-photo {
				animation: translateToRight .8s ease-out forwards;
			}

		}
	}


	&__score {
		@include absolute-centre;
		@include font-size($size:xxlarge); text-align: center; white-space: nowrap;

		&__hyphen {
			margin: 0 4px 0; display: inline-block;
			font-weight: normal;
		}
	}
}