.menu {

	@media (max-width: 599px) {
		position: absolute; top: 0; left: 0;
		width: 100%; @include unit(padding, 1);

		&__whole {
			display: none;
		}

		&__logo {
			float: left;

			&__svg {
				@include unit(height, 5);
			}
		}

		&__current {
			float: left;
		}

		&__toggle {
			float: right;
		}
	}

	@media (min-width: 600px) {
		background: $app__inset;
		border-radius: 4px 0 0 4px; box-shadow: inset -1px 0px 2px $shadow, inset -3px 0px 19px rgba($shadow, 0.10);

		&__logo {
			display: block; @include unit(margin-left, 3);

			&__svg {
				width: 66px; height: auto;
			}

		}
	}

	&__list {

		&__item {
			@include unit(margin-bottom, 1);

			&.is--active {
				
			}

		}

		&__link {
			position: relative;
			display: block; @include unit(padding-left, 3); @include unit(padding-right, 3);
			@include unit(line-height, 5); white-space: nowrap;
			transition: all .2s ease;

			&:hover,
			&:focus {
				background-color: rgba($mirage, .25);
			}

			&.is--active {
				background-color: rgba($mirage, .37);
				color: $link-water;
			}

		}

	}

	&__button {
		@include unit(margin-left, 3); @include unit(margin-right, 3);
	}

}