.player {
	$block: #{&};	
	display: flex; justify-content: space-between; align-items: center; @include unit(height, 7); padding: 0 22px;

	&__id {
		display: flex; align-items: center;
		line-height: 20px;

		&__stats {
			@include font-size($size:small); color: $gray-chateau;
		}

		&__level {

			&.is--level {
				&47 { color: $level47; }
				&48 { color: $level48; }
				&49 { color: $level49; }
				&50 { color: $level50; }
				&51 { color: $level51; }
				&52 { color: $level52; }
				&53 { color: $level53; }
				&54 { color: $level54; }
				&55 { color: $level55; }
				&100 {color: $level100; }
			}

		}

		&__rating {

		}
	}

	&__player-photo {
		width: 48px; margin-right: 10px;

		&__image {
		}

	}

	&__number {
	}

	&.is--sibling {
		&1 {
			opacity: .75;
		}

		&2 {
			opacity: .5;
		}
	}

	&:hover, &:focus {
		opacity: 1;
	}

}