/*

  Grid 1

  [ 3 ][    15    ]

  Used for:
  menu / view

*/

.g1 {
  @include clearfix;

  @media (break('>=', map-get($breakpoints, xmedium))) {

    display: flex;

    > .col {

      &:first-child {
        float: left; width: percentage(3/18);
      }

      &:nth-child(2) {
        float: right; width: percentage(15/18);
      }
    }
  }
}




/*

  Grid 2

  1 [ 8 ] 1 [ 8 ] 1

  Used for:
  header, data

*/

.g2 {
  @include clearfix;

  @media (min-width: 900px) {

    display: flex; padding-left: percentage(1/24);

    > .col {
      flex: 1; margin-right: percentage(1/24);
    }
  }
}




/*

  Grid 3

  1 [ 8 ] 1 [ 8 ] 1

  Used for:
  header

*/

.g3 {
  @include clearfix;

  $padding: percentage(1/19);

  @media (break('<', map-get($breakpoints, medium))) {

    padding-left: $padding; padding-right: $padding;

  }

  @media (break('>=', map-get($breakpoints, medium))) {

    display: flex; padding-left: $padding;

    > .col {
      flex: 1; margin-right: $padding;
    }
  }
}




/*

  Grid 4

  [   50%  ][  50%  ]

  Used for:
  match,

*/

.g4 {
  @include clearfix;

  > .col {

    float: left; width: 50%;
  }
}



/*

  Grid 5

  [ X ]----flex----[ X ]

  Used for:

  Level
*/

.g5 {

  display: flex;

  > .col {
    &-- {

      &1,
      &3 {
        width: 67px;
      }
      &1 {
        float: left;
      }
      &2 {
        flex: 1;
      }
      &3 {
        float: right;
      }
    }
  }
}





/*

  Grid LeftRight

*/

.gleftright {
  @include clearfix;

  > * {
    &:first-child {
      float: left;
    }

    &:last-child {
      float: right;
    }
  }
}





/*

  Grid flex

*/

.gflex {
  display: flex;

  > .col {
    flex: 1;
  }

  &.from--desktop {
    display: block;

    @media (max-width: 699px) {

      > .col + .col {
        @include unit(margin-top, 2);
      }

    }

    @media (min-width: 700px) {

      display: flex;

      > .col {
        flex: 1;
      }
    }
  }
}





/*

  Grid align center

*/

.galignitemscenter {
  @include align-items-centre;
}





/*

  Grid justify space between

*/

.gjustifyspacebetween {
  display: flex; justify-content: space-between;
}
